html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 10px;
    float: left;
    clear: right;
    margin-right: 10px;
    width: 300px;
    text-align: center;
    padding: 20px;
}

    .card a {
        text-decoration: none;
        text-decoration-color: black;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-content {
    margin-bottom: 15px; /* Adjust margin bottom for space between content and button */
}

.card-button {
    margin-top: 15px; /* Adjust margin top for space between content and button */
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

img {
    text-align: center;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

/* Style for a special button */
.special-btn {
    font-weight: normal; /* Remove bold text */
    color: black; /* Set the text color to black */
    border: none; /* Remove button border */
    width: 60px; /* Set button width */
    height: 60px; /* Set button height */
    margin: 5px;
    padding-top: 17px;
}

    /* Style for a disabled button */
    .special-btn.btn-disabled {
        background-color: red; /* Change background color to red */
        color: black; /* Change text color to white */
        pointer-events: none; /* Disable click events */
    }

    /* Style for an active (enabled) button */
    .special-btn.btn-active {
        background-color: green; /* Change background color to green */
        color: black; /* Change text color to white */
    }

        /* Hover effect for active buttons */
        .special-btn.btn-active:hover {
            opacity: 0.8; /* Reduce opacity on hover */
            /* Add additional styles for hover effect if needed */
        }

.ticket-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

    .ticket-details h3 {
        font-size: 18px;
        margin-top: 0;
    }

    .ticket-details ul {
        list-style-type: none;
        padding-left: 0;
    }

        .ticket-details ul li {
            margin-bottom: 10px;
        }

.ticket-img {
    text-align: center;
    width: 300px;
    height: 200px;
    margin: auto;
    display: block;
}

