@model IEnumerable<PresentationLayer.Models.ViewModels.ListFlightsViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @foreach (var item in Model)
    {
        <div class="card">
            <a href="\Tickets\Details\@item.Id">
                <div class="container">
                    <h4><b>@item.CountryTo</b></h4>
                    <p>€@item.RetailPrice</p>

                    @if (@item.isFullyBooked){
                        <p>Flight is fully booked</p>
                    }
                    else{
                        <button>Details</button>
                    }                    
                </div>
            </a>
        </div>    
    }
</div>
