@model IEnumerable<PresentationLayer.Models.ViewModels.ListFlightsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Flight Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<br/>
<div>
    @foreach (var item in Model)
    {
        <div class="card">
            @if(!item.isFullyBooked)
            {
                <a href="\Tickets\Details\@item.Id">
                    <div class="container">
                        <h4><b>@item.CountryTo</b></h4>
                        <p>€@item.RetailPrice</p>
                        <p>Seats still available</p>
                        <p>Click for more details</p>
                    </div>
                </a>
            }
            else{
                <a href="#">
                    <div class="container">
                        <h4><b>@item.CountryTo</b></h4>
                        <p>€@item.RetailPrice</p>
                        <p>Fully Booked</p>
                    </div>
                </a>
            }
        </div>
    }
</div>
