@model PresentationLayer.Models.ViewModels.SeatingPlanViewModel

@{
    ViewData["Title"] = "SeatingPlan";
}

<h1>SeatingPlan</h1>

<h4>SeatingPlanViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-21">
        <form asp-action="SeatingPlan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int row = 1; row <= Model.MaxRows; row++)
            {
                <div>
                    @for (int col = 1; col <= Model.MaxCols; col++)
                    {
                        var seatId = row + "," + col;

                        <span style="margin-right: @(col == 3 ? 65 : 7.5)px;">
                            @if (Model.Seats.SingleOrDefault(x => x.Id == seatId).IsBooked)
                            {
                                <input type="submit" style="width:60px; height:60px; background-color:red" value="@seatId" name="SelectedSeat" disabled="disabled" />
                            }
                            else
                            {
                                <input type="submit" style="width:60px; height:60px; background-color:green" value="@seatId" name="SelectedSeat" />
                            }
                        </span>
                    }
                </div>
                <br />
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
